/.env
/r-packages
.Rproj.user
.Rhistory
/README.html
/pak_*.tar.gz
/pak_*.tgz
/pak_*.zip
/bin
/rsconnect
/docs
/revdep
/cli
/repo
/README_cache
/man/_cache
/tibble
/man/chunks/*_files
/man/dynamic.Rd
